CompileFlags:
  Add:
    - --target=x86_64-pc-windows-msvc
Diagnostics:
  ClangTidy:
    Add:
      - bugprone-*
      - clang-analyzer-*
      - cppcoreguidelines-*
      - performance-*
      - readability-implicit-bool-conversion
      - misc-unused-using-decls
      - modernize-use-nullptr
    Remove:
      - bugprone-easily-swappable-parameters
      - cppcoreguidelines-avoid-magic-numbers
      - cppcoreguidelines-pro-bounds-pointer-arithmetic
      - cppcoreguidelines-pro-type-reinterpret-cast
  UnusedIncludes: Strict
